.GalleryPage{
    background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    font-family: Noto Sans, Helvetica, sans-serif;
    color: #666;
    letter-spacing: 1px;
    min-height: 100vh;
    font-size: 1.6rem;
}

.upload-form {
    width: 60%;
    margin: auto;
    margin-top: 2rem;
    padding: 2rem;
    border: 1px solid #000;
    padding-left: 20%;
    background: #eee;
  }