.MyProfile {
  max-width: 100vw;
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(to right bottom, #efeaea, #b7a9b7);
  align-items: center;
  justify-content: center;
  background-image: url("../../public/images/couple-g9de54674a_1920.jpg");
}

.MyProfile button {
  margin-top: 2vw;
  padding: 10px;
  width: 200px;
  height: 40px;
  border: none;
  background-color: rgb(78, 76, 76);
  color: #e8e3ec;
  border-radius: 5px;
}

.MyProfile img {
  margin-top: 2vw;
  border-radius: 50%;
}

.MyProfile h3 {
  margin-top: 3vw;
}

.MyProfile h4 {
  margin-top: 1vw;
}

.profileDiv {
  background-color: #e8e3ecd3;
  width: 50vw;
  min-height: 60vh;
  border-radius: 5px;
  box-shadow: 3px 6px 40px #000;
}

.profileButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileDiv form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileDiv input {
  width: 200px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #d5c8de7a;
  padding: 5px;
}

@media (max-width: 600px) {
  .profileDiv {
    width: 70vw;
  }
}
